<tr>
	<td>
		<input type="text" name="nomcomposition" value="{{composition.value}}" [ngClass]="{'rouge' : isvalid === false}">
	</td>
	<td>
		<input type="text" name="pourcentage" value="{{composition.percentage}}" class="percentage">		
	</td>
	<td align="center">
		<input type="radio" name="gender{{composition.value}}" value="dominant" [checked]="dominantIsChecked">
	</td>
	<td align="center">
		<input type="radio" name="gender{{composition.value}}" value="accompagnement" [checked]="accompagnementIsChecked">
	</td>
	<td align="center">
		<input type="radio" name="gender{{composition.value}}" value="isole" [checked]="isoleIsChecked">
	</td>	
</tr>