<br/>
<div *ngIf="currentItem !== undefined">
	<div class="droite">
		<form #f="ngForm" (ngSubmit)="onSubmit(f)">
			<br/>
			<div>
				<input type="hidden" #id="ngModel" id="enchatillon" name="id" ngModel="{{currentItem.id}}" />
				{{myConfig.echantillon}} :
				<input type="text" #enchatillon="ngModel" id="enchatillon" name="echantillon" ngModel="{{currentItem.echantillon}}" class="echantillon"/>
				<br/>
				<br/>
				<table style="width:60%">
					<tr>
						<th>{{myConfig.nom}}</th>
						<th>{{myConfig.pourcentage}}</th> 
						<th>{{myConfig.dominant}}</th>
						<th>{{myConfig.accompagnement}}</th>
						<th>{{myConfig.isole}}</th>
					</tr>			
				  <tbody>
					<tr *ngFor="let composition of currentItem.compositions; let i = index;">
						<td>
							<input type="text" name="nomcomposition{{i}}" ngModel="{{composition.value}}" #nomcomposition="ngModel" [id]="'nomcomposition' + i" [ngClass]="{'rouge' : composition.valid === false}"/>
						</td>
						<td>
							<input type="text" name="pourcentage{{i}}" ngModel="{{composition.percentage}}" #pourcentage="ngModel" [id]="'pourcentage' + i" class="percentage"/>		
						</td>
						<td align="center">
							<input type="radio" name="type{{i}}" ngModel="{{composition.type}}" value="Dominant" #dominant="ngModel" [id]="'dominant' + i" />
						</td>
						<td align="center">
							<input type="radio" name="type{{i}}" ngModel="{{composition.type}}" value="Accompagnement" #accompagnement="ngModel" [id]="'accompagnement' + i"/>
						</td>
						<td align="center">
							<input type="radio" name="type{{i}}" ngModel="{{composition.type}}" value="Isole" #isole="ngModel" [id]="'isole' + i"/>
						</td>	
					</tr>
					</tbody>
				</table>
			</div>
			<br/>
			<br/>
			<div class="centrer">
				<button type="submit" class="styleBouton">{{myConfig.enregistrer}}</button>
			</div>
		</form>
	</div>
	<div class="gauche divWithScroll">
		<pdf-viewer src="http://localhost:8089/ocr/services/rest/traitement/getpdf?pdfName={{currentItem.pdfFileName}}" zoom="1.3"></pdf-viewer>
	</div>
</div>