<br/>
<div *ngIf="currentItem !== undefined">
	<div class="droite">
		<form #f="ngForm" (ngSubmit)="onSubmit(f)">
			<br/>
			<div>
				<input type="hidden" #id="ngModel" id="enchatillon" name="id" ngModel="{{currentItem.id}}" />
				{{myConfig.reference}} :
				<input type="text" #enchatillon="ngModel" id="reference" name="reference" ngModel="{{currentItem.reference}}" class="echantillon"/>
				<div class="t2titre">
					{{myConfig.gms}}
				</div>
				<table style="width:100%">
					<tr>
						<th width="80%">{{myConfig.nom}}</th>
						<th width="20%">{{myConfig.pourcentage}}</th> 
					</tr>			
				  <tbody>
					<tr *ngFor="let composition of currentItem.gmsList; let i = index;">
						<input type="hidden" #value="ngModel" [id]="'tracegms' + i" name="tracegms{{i}}" ngModel="{{composition.trace}}" />
						<td width="80%">
							<input type="text" name="valuegms{{i}}" ngModel="{{composition.value}}" #value="ngModel" [id]="'valuegms' + i" [ngClass]="{'bleu' : composition.trace === true, 'texte' : true, 'width99' : true}"/>
						</td>
						<td width="20%">
							<input type="text" name="pourcentagegms{{i}}" ngModel="{{composition.pourcentage}}" #pourcentage="ngModel" [id]="'pourcentagegms' + i" class="percentage"  class="width99"/>		
						</td>
					</tr>
					</tbody>
				</table>
				<div class="t2titre">
					{{myConfig.lms}}
				</div>
				<table style="width:100%">
					<tr>
						<th width="80%">{{myConfig.nom}}</th>
						<th width="20%">{{myConfig.pourcentage}}</th> 
					</tr>			
				  <tbody>
					<tr *ngFor="let composition of currentItem.lmsList; let i = index;">
						<input type="hidden" #value="ngModel" [id]="'tracelms' + i" name="tracelms{{i}}" ngModel="{{composition.trace}}" />
						<td width="80%">
							<input type="text" name="valuelms{{i}}" ngModel="{{composition.value}}" #value="ngModel" [id]="'valuelms' + i" [ngClass]="{'bleu' : composition.trace === true, 'texte' : true, 'width99' : true}"/>
						</td>
						<td width="20%">
							<input type="text" name="pourcentagelms{{i}}" ngModel="{{composition.pourcentage}}" #pourcentage="ngModel" [id]="'pourcentagelms' + i" class="percentage"  class="width99"/>		
						</td>
					</tr>
					</tbody>
				</table>
			</div>
			<br/>
			<br/>
			<div class="centrer">
				<button type="submit" class="styleBouton">{{myConfig.enregistrer}}</button>
			</div>
		</form>
	</div>
	<div class="gauche divWithScroll">
		<pdf-viewer src="{{myConfig.protocol}}://{{myConfig.server}}:{{myConfig.port}}/ocr/services/rest/traitement/getpdf?pdfName={{currentItem.pdfName}}" zoom="1.3" show-all="true"></pdf-viewer>
	</div>
</div>