<br/>
<div *ngIf="currentItem !== undefined">
	<div class="droite">
		
		<div *ngIf="validerOk !== undefined" class="vert">{{ validerOk }}</div>
		<div *ngIf="validerKo !== undefined" class="rouge">{{ validerKo }}</div>
		<form #f="ngForm" (ngSubmit)="onSubmit(f)">
			<br/>
			<div>
				<input type="hidden" #id="ngModel" id="enchatillon" name="id" ngModel="{{currentItem.id}}" />
				{{myConfig.reference}} :
				<input type="text" #enchatillon="ngModel" id="reference" name="reference" ngModel="{{currentItem.reference}}" class="echantillon"/>
				<br/>
				{{myConfig.poids}} :
				<input type="text" #enchatillon="ngModel" id="poids" name="poids" ngModel="{{currentItem.poids}}" class="poids"/>
				<br/>
				{{myConfig.certificatAnalyse}} :
				<input type="text" #enchatillon="ngModel" id="certificatAnalyses" name="certificatAnalyses" ngModel="{{currentItem.certificatAnalyses}}" class="certificatAnalyses"/>
				<div class="t2titre">
					{{myConfig.gms}}
					<button type="button" (click)="addGmsRow()" class="styleBoutonAjouterLigne">{{myConfig.ajouterligne}}</button>
				</div>
				<table style="width:100%">
					<tr>
						<th width="5%">{{myConfig.nom}}</th>
						<th width="20%">{{myConfig.pourcentage}}</th> 
						<th width="5%">{{myConfig.trace}}</th> 
					</tr>			
				  <tbody>
					<tr *ngFor="let composition of currentItem.moleculesGms; let i = index;">
						<td width="75%">
							<input list="gmsList" name="valuegms{{i}}" ngModel="{{composition.value}}" #value="ngModel" [id]="'valuegms' + i" [ngClass]="{'rouge' : composition.erreur === true,'bleu' : composition.erreur === false && composition.trace === true, 'texte' : true, 'width99' : true}"/>
						</td>
						<td width="20%">
							<input type="text" name="pourcentagegms{{i}}" ngModel="{{composition.pourcentage}}" #pourcentage="ngModel" [id]="'pourcentagegms' + i" class="percentage width99"/>		
						</td>
						<td width="5%">
							<input type="checkbox" name="tracegms{{i}}" [ngModel]="composition.trace" #trace="ngModel" [id]="'tracegms' + i" class="percentage width99"/>		
						</td>
					</tr>
					</tbody>
				</table>				
				<datalist id="gmsList">
					<option *ngFor="let item of currentItem.gmsDataList" [value]="item.nom">{{item.valeurTrace}}</option>
				</datalist>
				<div class="t2titre">
					{{myConfig.lms}}
					<button type="button" (click)="addLmsRow()" class="styleBoutonAjouterLigne">{{myConfig.ajouterligne}}</button>
				</div>
				<table style="width:100%">
					<tr>
						<th width="5%">{{myConfig.nom}}</th>
						<th width="20%">{{myConfig.pourcentage}}</th> 
						<th width="5%">{{myConfig.trace}}</th> 
					</tr>			
				  <tbody>
					<tr *ngFor="let composition of currentItem.moleculesLms; let i = index;">
						<td width="80%">
							<input list="lmsList" name="valuelms{{i}}" ngModel="{{composition.value}}" #value="ngModel" [id]="'valuelms' + i" [ngClass]="{'rouge' : composition.erreur === true,'bleu' : composition.erreur === false && composition.trace === true, 'texte' : true, 'width99' : true}"/>
						</td>
						<td width="20%">
							<input type="text" name="pourcentagelms{{i}}" ngModel="{{composition.pourcentage}}" #pourcentage="ngModel" [id]="'pourcentagelms' + i" class="percentage"  class="width99"/>		
						</td>
						<td width="5%">
							<input type="checkbox" name="tracelms{{i}}" [ngModel]="composition.trace" #trace="ngModel" [id]="'tracelms' + i" class="percentage width99"/>		
						</td>
					</tr>
					</tbody>
				</table>		
				<datalist id="lmsList">
					<option *ngFor="let item of currentItem.lmsDataList" [value]="item.nom">{{item.valeurTrace}}</option>
				</datalist>
			</div>
			<br/>
			<br/>
			<div class="centrer">
				<button type="submit" class="styleBouton">{{myConfig.enregistrer}}</button>
			</div>
		</form>
	</div>
	<div class="gauche divWithScroll">
		<pdf-viewer src="{{myConfig.protocol}}://{{myConfig.server}}:{{myConfig.port}}/ocr/services/rest/traitement/get/pdf?pdfName={{currentItem.pdfName}}" zoom="1.3" show-all="true"></pdf-viewer>
	</div>
</div>