<button [routerLink]="['']" class="styleBouton"> Retour accueil</button>
<div *ngIf="resultat !== undefined" ng-app="myApp" ng-controller="customersCtrl"> 
	<div class="globalApp">
		<div class ="gaucheApp">
			<select [(ngModel)]="selectedPdf" size="10" (change)="onChange($event)">
				<option *ngFor="let item of resultat.resultats" [value]="item.id" [ngClass]="{'vert': item.enregistre==true}">
					{{ item.pdfFilePath }}
				</option>
			</select>
		</div>	
		<div class="droiteApp">
			<a href="{{csvUrl}}">{{myConfig.exportercsv}}</a>
		</div>
	</div>
	<div class="global">
		<mypdfview2 [currentItem]="currentItem" (validateEnregistrer)="passerVert($event)"></mypdfview2>
	</div>
</div>
<div *ngIf="resultat === undefined">
	<br/>
	<br/>
	<br/>
	<br/>
	{{myConfig.traitementencours}}
	<br/>
	<br/>
	<div *ngIf="estimateTime !== undefined">
		{{myConfig.tempsestime}} : {{ estimateTime }} min
		<br/>
		{{myConfig.dateestime}} : {{ estimateDate }}
	</div>
</div>

