.echantillon {
    width: 300px;
}

.global{
  width:100%;
}
.droite, .gauche {
    display: inline-block;
    vertical-align: top;
}
.gauche {
    width:60%; 
	float:left;
}
 
.droite {
    width: 40%;
}
.divWithScroll {
    height:700px;
    overflow:scroll;
    overflow-x:hidden;
}