/* You can add global styles to this file, and also import other style files */
.vert{
	color: limegreen;	
}

.rouge{
	color: red;	
}
.gaucheApp {
    display:inline-block;
}
 

.droiteApp {
	margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
}

.globalApp{
  width:100%;
  display:flex;
}.echantillon {
    width: 300px;
}

.global{
  width:100%;
}
.droite, .gauche {
    display: inline-block;
    vertical-align: top;
}
.gauche {
    width:50%; 
	float:left;
}
 
.droite {
	width: 40%;
    margin-left: 5%;
}
.divWithScroll {
    height:700px;
    overflow:scroll;
    overflow-x:hidden;
}

.percentage {
    width: 100px;
}
.centrer {
    text-align: center;
}

.bleu{
	color: DarkBlue ;
}


.styleBouton {
	padding: 10px;
    border-radius: 2px;
    box-shadow: 3px 3px 12px #999;
    background: #DAA520;
    font: bold 15px Arial;
    color: #555;
	margin-bottom: 10px;
	text-decoration: none;
}

.styleBoutonAjouterLigne {
    background-color: rgb(120, 146, 194);
    border-radius: 28px;
    border: 1px solid rgb(78, 96, 150);
    display: inline-block;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-family: Arial;
    font-size: 13px;
    padding: 7px 7px;
    text-decoration: none;
    margin-left: 2%;
    text-shadow: rgb(40, 57, 102) 0px 1px 0px;
}

.accueildiv{
	width:100%;
	text-align: center;
}
.divider{
    width:50px;
    height:auto;
    display:inline-block;
	padding-top: 5%;
}

.h1Style
{
  font-size: 50px;
  line-height: 150px;
  text-shadow: -1px -1px #fb6, 1px 1px #d60, -3px 0 4px #000;
  font-family:"Segoe print", Arial, Helvetica, sans-serif;
  color: #FF9933; 
  padding:32px;
  font-weight:lighter;
  text-align:center;
  display:inline;
}

.t2titre{
    padding-top: 8%;
    padding-bottom: 2%;
    font: bold italic 15px Arial;
}

th {
	background-color: #cba;
    font: bold 13px Arial;
}

.width99 {
	width: 99%;
}
.poids {
    width: 50px;
	margin-top: 5px;
}

.certificatAnalyses{	
    width: 100px;
	margin-top: 5px;
}