  <!--<nav>
    <a routerLink="/traitementT1" routerLinkActive="active">Traitement 1</a>
    <a routerLink="/traitementT2" routerLinkActive="active">Traitement 2</a>
  </nav>
  <br/>
  <router-outlet></router-outlet>
  <button [routerLink]="['traitementT1', listefichiers]">{{myConfig.boutontraitement1}}</button>
  <button [routerLink]="['traitementT2', listefichiers]">{{myConfig.boutontraitement2}}</button>
  -->
  <input (change)="onFileChange($event)" type="file" webkitdirectory directory multiple>
  <button (click)="navigatet1()">{{myConfig.boutontraitement1}}</button>
  <button (click)="navigatet2()">{{myConfig.boutontraitement2}}</button>
  