<div class="accueildiv">
	<div class="title">
		<h1 class="h1Style">
			<span>
				{{myConfig.titre}}
			</span>
		</h1>
	</div>
	<img src="assets/img/abeille.jpg" />
	<br/>
	<br/>
	<button [routerLink]="['palynologie']" class="styleBouton">{{myConfig.boutontraitementpalynologie}}</button>
	<div class="divider"></div>
	<button [routerLink]="['residus']" class="styleBouton">{{myConfig.boutontraitementresidus}}</button>
	<br/>
	<a href="{{aggregationUrl}}">{{myConfig.boutontraitementaggregationresidus}}</a>
	<div class="divider"></div>
	<a href="{{csvResidusUrl}}">{{myConfig.boutontraitementcsvresidus}}</a>
	<div class="divider"></div>
	<a href="{{csvPalynologieUrl}}">{{myConfig.boutontraitementcsvpalyno}}</a>
	<br/>
	<br/>
	<br/>
	<br/>
	<div id="footer">
       &copy; All rights reserved
	</div>
</div>